@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .hide-scrollbar {
    scrollbar-width: none;
  }
  .hide-scrollbar:hover {
    scrollbar-width: thin;
  }
}
/* This below css is for the hover effect */
.channel-menu::before {
  /* color: red; */
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  /* background-color: #000; */
}
.channel-menu:hover::before {
  background-color: rgb(132, 132, 132);
  content: "";
  cursor: pointer;
}

#active-channel-menu::before {
  background-color: black;
}
#active-channel-menu {
  color: black;
}
